body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #1b2838;
  }
   h1 {
    color: #eff5f2;
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    font-size: 90px;
  }
   p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
   }
  .game-title {
    font-family: "Josefin Sans", sans-serif;
    font-size:  20px;
    margin: 10px;
  }
   .filters {
    margin-bottom: 20px; 
  }
   .filters input,
   .filters select{
    font-family: "Josefin Sans", sans-serif;
    font-size:  16px;
   }

   button {
    font-family: "Josefin Sans", sans-serif;
    font-size:  16px;
   }
   input, select, button {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
   #gamesContainer {
    display: flex;
    flex-wrap: wrap;
  }
   .game {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 220px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
   img {
    border-radius: 8px;
  }
   .game img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
   #gameDetail {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  }
  .genre-dropdown{
    position:relative;
    display:inline-block;
  }
 #genreToggle{
  padding:10px;
  background-color: white;
  cursor: pointer;
 }
 .genre-option{
  padding: 10px;
  cursor: pointer;
 }
 .genre-option.selected{
  background-color: #4285f4;
  color: white;
 }
 #genreBox{
  position:abosulte;
  top: 100%;
  left: 0;
  padding: 15px;
  z-index: 1000;
 }
 .genre-grid{
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 10px;
 }
 .hidden{
  display: none;
 }